<section class="py-5">
    <div class="row">
        <h3>Checkout</h3>
        <div class="col-lg-8">
            <ng-container *ngIf="checkoutProduct.length>0">
                <!-- <span>{{checkoutProduct |json}}</span> -->
                <div class="card mb-3 mt-3" *ngFor="let item of checkoutProduct">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src={{item.image}} class="img-fluid rounded-start" alt={{item.title}}>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{item.title}}</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
         
        </div>
        <div class="col-lg-4 p-3">
            <div class="bg-secondary p-4 shadow-sm">
                <h3>Order totals</h3>
                <hr />
                <ul class="list-group ">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                        <strong> Subtotal:</strong>
                        <span class="badge bg-order-details rounded-pill">34</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                        Shipping costs:
                        <span class="badge bg-order-details  rounded-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                        Discount:
                        <span class="badge bg-order-details rounded-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                        Estimated sales tax:
                        <span class="badge bg-order-details rounded-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-top border-0">
                        Order total:

                        <span class="badge bg-order-details rounded-pill">$230.00</span>
                    </li>
                </ul>

            </div>
            <button type="button" class="btn btn-bg d-block w-100 mt-3">

                Complete Your Order
            </button>
        </div>
    </div>
</section>