<div class="container mt-5 mb-5">
    <div class="card border-0">
        <div class="row g-0" *ngIf="productList">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image"> <img src={{productList.image}} #someInput id="idd" width="350"> </div>
                    <div class="thumbnail_images">
                        <!-- <ul id="thumbnail">
                            <li><img (click)="changeImage($event)" src="https://i.imgur.com/TAzli1U.jpg" width="70"></li>
                            <li><img (click)="changeImage(this)" src="https://i.imgur.com/w6kEctd.jpg" width="70"></li>
                            <li><img (click)="changeImage(this)" src="https://i.imgur.com/L7hFD8X.jpg" width="70"></li>
                            <li><img (click)="changeImage(this)" src="https://i.imgur.com/6ZufmNS.jpg" width="70"></li>
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{productList.title |titlecase}}</h3> <span class="heart"><i class='bx bx-heart'></i></span>
                    </div>
                    <div class="mt-2 pr-3 content">
                        <p>{{productList.description}}</p>
                    </div>
                    <h3>{{productList.price |currency}}</h3>
                    <div class="ratings d-flex flex-row align-items-center">
                        <div class="d-flex flex-row">

                            <i class="bi bi-star-fill star-rating"></i>
                            <i class="bi bi-star-fill star-rating"></i>
                            <i class="bi bi-star-fill star-rating"></i>
                            <i class="bi bi-star-fill star-rating"></i>
                            <i class="bi bi-star-half star-rating"></i>
                        </div>
                        <span>441 reviews</span>
                    </div>
                    <div class="buttons d-flex flex-row mt-5 gap-3">
                       
                        <button class="btn btn-bg">Add to Cart</button>
                        <button class="btn btn-light"><i class="bi bi-suit-heart-fill"></i>
                            <span class="text">Add to wishlist</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>