<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/logo-dark.png" alt="" width="100" height="24" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLink="/" routerLinkActive="active" aria-current="home">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLink="/product">shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLink="/blog">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLink="/vendor">vendor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLink="/contact">contact</a>
        </li>
      </ul>
      <ul class="mb-0">

        <!-- <span class="icon">
          <a href="#" class="text-decoration-none btn-color"><i class="bi bi-heart" routerLink="/checkout"></i></a></span> -->
        <span class="cart-count btn-color">
          <i class="bi bi-cart" routerLink="/checkout"></i>
          <em>{{cartProductCount}}</em>
        </span>
      </ul>
    </div>
  </div>
</nav>