<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link border-0 btn-color" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link border-0" href="#">1</a></li>
      <li class="page-item"><a class="page-link border-0" href="#">2</a></li>
      <li class="page-item"><a class="page-link border-0" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link border-0 btn-color" href="#">Next</a>
      </li>
    </ul>
  </nav>