.filter-group {
  border-bottom: 1px solid #e4e4e4;
}
.filter-group .card-header {
  border-bottom: 0;
}

.icon-control {
  margin-top: 5px;
  float: right;
  font-size: 80%;
}
.card-header .title {
  margin-bottom: 0;
  line-height: 1.5;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.list-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.list-menu li a {
  color: #343a40;
}
.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: contain;
}
.card-footer {
  background-color: #ffffff;
  border: none;
}
.card {
  border-radius: 4px;
  background: #fff;
  // box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}
.card:hover {
  opacity: 0.8;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.btn:hover {
  color: #ffffff;
}

.product-meta {
  transition: color 0.25s ease-in-out;
  color: #7d879c;
  text-decoration: none !important;
}



[class*=card-product] .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-product-list .img-wrap {
  height: 220px;
  border-radius: 0.37rem 0 0 0.37rem;
}
.card-product-list {
  margin-bottom: 20px;
}
.card-product-list .info-main {
  padding: 1.5rem 1rem;
}
.rating-stars {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both;
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}
.label-rating {
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
}
.card-product-list .info-aside {
  padding: 1.5rem 1rem;
  border-left: 1px solid #e4e4e4;
  height: 100%;
}
.price-wrap {
  letter-spacing: -0.7px;
}
.img-wrap {
  text-align: center;
  display: block;
}