.filter-group {
  border-bottom: 1px solid #e4e4e4;
}
.filter-group .card-header {
  border-bottom: 0;
}

.icon-control {
  margin-top: 5px;
  float: right;
  font-size: 80%;
}
.card-header .title {
  margin-bottom: 0;
  line-height: 1.5;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.list-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.list-menu li a {
  color: #343a40;
}
.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: contain;
}
.card-footer {
  background-color: #ffffff;
  border: none;
}
.card {
  border-radius: 4px;
  background: #fff;
  // box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}
.card:hover {
  opacity: 0.8;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.btn:hover {
  color: #ffffff;
}
.star-rating {
  color: #fea569;
}
.product-meta {
  transition: color 0.25s ease-in-out;
  color: #7d879c;
  text-decoration: none !important;
}
