<div class="row mt-5">
  <aside class="col-md-3">
    <output>
      <div class="card border-0">
        <article class="filter-group">
          <header class="card-header">
            <a href="#" data-toggle="collapse" data-target="#collapse_aside1" aria-expanded="true">
              <i class="icon-control bi bi-chevron-down"></i>
              <h6 class="title btn-color">Categories </h6>
            </a>
          </header>
          <div class="filter-content collapse show" id="collapse_aside1">
            <div class="card-body">
              <form class="mb-3">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                    <button class="btn btn-bg" type="button"><i class="bi bi-search"></i></button>
                  </div>
                </div>
              </form>
              <ul class="list-menu">
                <li><a href="#">Electronics </a></li>
                <li><a href="#">Watches </a></li>
                <li><a href="#">Cinema </a></li>
                <li><a href="#">Clothes </a></li>
                <li><a href="#">Home items </a></li>
              </ul>

            </div>
          </div>
        </article>
        <article class="filter-group">
          <header class="card-header">
            <a href="#" data-toggle="collapse" data-target="#collapse_aside2" aria-expanded="false" class="collapsed">
              <i class="icon-control bi bi-chevron-down"></i>
              <h6 class="title btn-color">Price </h6>
            </a>
          </header>
          <div class="filter-content collapse" id="collapse_aside2">
            <div class="card-body">
              <input type="range" class="custom-range" min="0" max="100" name="">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Min</label>
                  <input class="form-control" placeholder="$0" type="number">
                </div>
                <div class="form-group text-right col-md-6">
                  <label>Max</label>
                  <input class="form-control" placeholder="$1,0000" type="number">
                </div>
              </div>
              <button class="btn btn-block btn-primary">Apply</button>
            </div>
          </div>
        </article>
        <article class="filter-group">
          <header class="card-header">
            <a href="#" data-toggle="collapse" data-target="#collapse_aside3" aria-expanded="false" class="collapsed">
              <i class="icon-control bi bi-chevron-down"></i>
              <h6 class="title btn-color">Size </h6>
            </a>
          </header>
          <div class="filter-content collapse" id="collapse_aside3">
            <div class="card-body">
              <label class="checkbox-btn">
                <input type="checkbox">
                <span class="btn btn-light"> XS </span>
              </label>

              <label class="checkbox-btn">
                <input type="checkbox">
                <span class="btn btn-light"> SM </span>
              </label>

              <label class="checkbox-btn">
                <input type="checkbox">
                <span class="btn btn-light"> LG </span>
              </label>

              <label class="checkbox-btn">
                <input type="checkbox">
                <span class="btn btn-light"> XXL </span>
              </label>
            </div>
          </div>
        </article>
        <article class="filter-group">
          <header class="card-header">
            <a href="#" data-toggle="collapse" data-target="#collapse_aside4">
              <i class="icon-control bi bi-chevron-down"></i>
              <h6 class="title btn-color">Rating </h6>
            </a>
          </header>
          <div class="filter-content collapse" id="collapse_aside4">
            <div class="card-body">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <div class="custom-control-label">Best </div>
              </label>

              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <div class="custom-control-label">Good </div>
              </label>

              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <div class="custom-control-label">Normal</div>
              </label>

              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <div class="custom-control-label">Not good</div>
              </label>
            </div>
          </div>
        </article>
      </div>
    </output>

  </aside>
  <div class="col-md-9">
    <div class="row">
      <div class="d-flex justify-content-center" *ngIf="isLoading">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <ng-container *ngIf="productList && productList.length>0">
        <div class="col-lg-4 col-md-6 mb-3"
          *ngFor="let item of productList | paginate: { itemsPerPage: 9, currentPage: p }">
          <div class="card border-0 p-3 h-100">
            <img src={{item.image}} class="card-img-top img-fluid" alt={{item.title}}>
            <div class="card-body">
              <a class="product-meta d-block fs-xs pb-1" href="#">{{item.category}}</a>
              <h5 class="card-title text-truncate">{{item.title}}</h5>
              <p class="card-text text-truncate">{{item.description}}</p>
              <div class="d-flex justify-content-between">
                <div class="product-price"><span class="text-accent">{{item.price |currency}}</span></div>
                <div class="star-rating">
                  <i class="bi bi-star-fill star-rating"></i>
                  <i class="bi bi-star-fill star-rating"></i>
                  <i class="bi bi-star-fill star-rating"></i>
                  <i class="bi bi-star-fill star-rating"></i>
                  <i class="bi bi-star-half star-rating"></i>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-bg d-block w-100" (click)='addToCart(item.id)'>
                <i class="bi bi-cart-plus"></i>
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
    <div class="col-md-4 mx-auto my-4">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>