<div class="row mt-5">
  <aside class="col-md-3">
    <app-cat-sidebar (rangeChange)="rangeChange($event)" (GetCategory)="getCategory($event)" [inputMax]="rangeResult" [priceRange]="0"></app-cat-sidebar>
  </aside>
  <div class="col-md-9">
    <div class="row border-bottom pb-4 mb-5">

      <div class="col-md-7">
        <span *ngIf="productList && productList.length>0">{{productList.length}} Items found </span>
        <span *ngIf="productList && productList.length === 0">There are <strong>no results.</strong></span>
      </div>
      <div class="col-md-5">
        <div class="row g-3">
          <div class="col">
            <select class="form-select" aria-label="Latest items" (change)="isProductSort($event)">
              <option value="" selected disabled hidden>Sort By</option>
              <option value="Name">Name</option>
              <option value="Low">Show Low to High Price</option>
              <option value="High">Show High to Low Price</option>
            </select>
          </div>
          <div class="col">
            <div class="btn-group" role="group" aria-label="grid layout">
              <a href="#" class="btn btn-outline-secondary " data-original-title="List view">
                <i class="bi bi-list-stars"></i></a>
              <a href="#" class="btn  btn-outline-secondary active" data-original-title="Grid view">
                <i class="bi bi-grid-3x3"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="d-flex justify-content-center" *ngIf="isLoading">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <ng-container *ngIf="productList && productList.length>0">
        <div class="col-lg-4 col-md-6 mb-3"
          *ngFor="let item of productList | paginate: { itemsPerPage: 9, currentPage: p }">
          <div class="card border-0 p-3 h-100">
            <img src={{item.image}} class="card-img-top img-fluid" alt={{item.title}}>
            <div class="card-body">
              <a class="product-meta d-block fs-xs pb-1" href="#">{{item.category}}</a>
              <h5 class="card-title text-truncate" [routerLink]="['/product',item.id]">{{item.title}}</h5>
              <p class="card-text text-truncate">{{item.description}}</p>
              <div class="d-flex justify-content-between">
                <div class="product-price"><span class="text-accent">{{item.price |currency}}</span></div>
                <div class="star-rating">
                  <i class="bi bi-star-fill star-rating"></i>
                  <i class="bi bi-star-fill star-rating"></i>
                  <i class="bi bi-star-fill star-rating"></i>
                  <i class="bi bi-star-fill star-rating"></i>
                  <i class="bi bi-star-half star-rating"></i>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-bg d-block w-100" (click)='addToCart(item.id)'>
                <i class="bi bi-cart-plus"></i>
                Add to cart
              </button>
            </div>
          </div>

        </div>

      </ng-container>

    </div>
    <div class="col-md-4 mx-auto my-4">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>