<section class="py-5">
    <div class="row">
        <h3 *ngIf="checkoutProduct.length>0">Cart Summary</h3>
        <div class="col-lg-8">
            <ng-container *ngIf="checkoutProduct.length>0">
                <div class="table-wrap mt-3">
                    <table class="table table-responsive table-borderless">
                        <thead>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>total</th>
                            <th>&nbsp;</th>
                        </thead>
                        <tbody>
                            <tr class="align-middle alert border-bottom" role="alert"
                                *ngFor="let item  of checkoutProduct">

                                <td class="text-center"> <img class="pic" src={{item.image}} alt=""> </td>
                                <td>
                                    <div>
                                        <p class="m-0 fw-bold">{{item?.title}}</p>
                                        <p class="m-0 text-muted">{{item?.category}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="fw-600">{{item.price |currency}}</div>
                                </td>
                                <td>
                                    <div class="input-group input-spinner">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-light" type="button" id="button-minus"
                                                (click)="changeQty(item.id,-1,'')"> <i class="bi bi-dash"></i></button>
                                        </div>
                                        <input type="text" class="form-control" value="{{item.qty}}" #qtyRef
                                            (keyup)="changeQty(item.id,qtyRef.value,'replace')">
                                        <div class="input-group-append">
                                            <button class="btn btn-light" type="button" id="button-plus"
                                                (click)="changeQty(item.id,1,'')"> <i class="bi bi-plus"></i> </button>
                                        </div>
                                    </div>
                                </td>
                                <td> {{total |currency}} </td>
                                <td>
                                    <div class="btn" data-bs-dismiss="alert"> <i class="bi bi-trash"
                                            aria-label="Remove Item" type="button" (click)="removeItem(item.id)"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>

            <ng-container *ngIf="checkoutProduct.length===0">
                <h3>Empty cart</h3>
                <div class="col-4 my-auto py-4 mx-auto">
                    <img src="../../assets/undraw_empty_cart_co35.svg" class="img-fluid" alt="">
                </div>
            </ng-container>

        </div>
        <div class="col-lg-4 p-3">
            <app-order-total [total]="total"></app-order-total>
        </div>
    </div>
</section>

<div class="container">

</div>