.icon {
  font-size: 1.5rem;
  color: #8412fa;
}
.nav-item {
  padding: 0px 10px;
}
.cart-count {
  position: relative;
  cursor: pointer;
}
.cart-count em {
  height: 23px;
  background-color: #8412fa;
  font-style: normal;
  padding: 0;
  border-radius: 50px;
  position: absolute;
  top: -10px;
  right: -17px;
  width: 22px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
}
.cart-count i {
  font-size: 25px;
}

.sticky {
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  z-index: 1;
}
