<p-accordion>
  <p-accordionTab header=" Categories" [selected]="true" >
    <form class="mb-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button class="btn btn-bg" type="button"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </form>
    <ul class="list-group " *ngFor="let cat of catagoryList;let i=index">
      <li class="list-group-item border-0 d-flex justify-content-between align-items-center"    (click)="isSelected(cat)">
        {{cat}}
        
        <span class="badge btn-bg rounded-pill">{{14+i}}</span>
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="Price" [selected]="true">
    <input type="range" class="form-range" min="0" max="500" id="customRange2">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Min</label>
        <input class="form-control"  min="0" placeholder="$0" type="number">
      </div>
      <div class="form-group text-right col-md-6">
        <label>Max</label>
        <input class="form-control"  min="0" placeholder="$1,0000" type="number">
      </div>
    </div>

    <div class="col-12 mt-2">
      <button class="btn btn-bg d-block w-100">Apply</button>
    </div>
  </p-accordionTab>
  <p-accordionTab header=" Size" [selected]="true">
    <label class="checkbox-btn">
      <input type="checkbox">
      <span class="btn btn-light"> XS </span>
    </label>

    <label class="checkbox-btn">
      <input type="checkbox">
      <span class="btn btn-light"> SM </span>
    </label>

    <label class="checkbox-btn">
      <input type="checkbox">
      <span class="btn btn-light"> LG </span>
    </label>

    <label class="checkbox-btn">
      <input type="checkbox">
      <span class="btn btn-light"> XXL </span>
    </label>
  </p-accordionTab>
</p-accordion>
<!-- <output>
  <div class="card border-0">
    <article class="filter-group">
      <header class="card-header">
        <a href="#" data-toggle="collapse" data-target="#collapse_aside1" aria-expanded="true">
          <i class="icon-control bi bi-chevron-down"></i>
          <h6 class="title btn-color">Categories </h6>
        </a>
      </header>
      <div class="filter-content collapse show" id="collapse_aside1">
        <div class="card-body">
          <form class="mb-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-bg" type="button"><i class="bi bi-search"></i></button>
              </div>
            </div>
          </form>
          <ul class="list-menu">
            <li><a href="#">Electronics </a></li>
            <li><a href="#">Watches </a></li>
            <li><a href="#">Cinema </a></li>
            <li><a href="#">Clothes </a></li>
            <li><a href="#">Home items </a></li>
          </ul>

        </div>
      </div>
    </article>
    <article class="filter-group">
      <header class="card-header">
        <a href="#" data-toggle="collapse" data-target="#collapse_aside2" aria-expanded="false" class="collapsed">
          <i class="icon-control bi bi-chevron-down"></i>
          <h6 class="title btn-color">Price </h6>
        </a>
      </header>
      <div class="filter-content collapse" id="collapse_aside2">
        <div class="card-body">
          <input type="range" class="custom-range" min="0" max="100" name="">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Min</label>
              <input class="form-control" placeholder="$0" type="number">
            </div>
            <div class="form-group text-right col-md-6">
              <label>Max</label>
              <input class="form-control" placeholder="$1,0000" type="number">
            </div>
          </div>
          <button class="btn btn-block btn-primary">Apply</button>
        </div>
      </div>
    </article>
    <article class="filter-group">
      <header class="card-header">
        <a href="#" data-toggle="collapse" data-target="#collapse_aside3" aria-expanded="false" class="collapsed">
          <i class="icon-control bi bi-chevron-down"></i>
          <h6 class="title btn-color">Size </h6>
        </a>
      </header>
      <div class="filter-content collapse" id="collapse_aside3">
        <div class="card-body">
          <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> XS </span>
          </label>

          <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> SM </span>
          </label>

          <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> LG </span>
          </label>

          <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> XXL </span>
          </label>
        </div>
      </div>
    </article>
    <article class="filter-group">
      <header class="card-header">
        <a href="#" data-toggle="collapse" data-target="#collapse_aside4">
          <i class="icon-control bi bi-chevron-down"></i>
          <h6 class="title btn-color">Rating </h6>
        </a>
      </header>
      <div class="filter-content collapse" id="collapse_aside4">
        <div class="card-body">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" checked="" class="custom-control-input">
            <div class="custom-control-label">Best </div>
          </label>

          <label class="custom-control custom-checkbox">
            <input type="checkbox" checked="" class="custom-control-input">
            <div class="custom-control-label">Good </div>
          </label>

          <label class="custom-control custom-checkbox">
            <input type="checkbox" checked="" class="custom-control-input">
            <div class="custom-control-label">Normal</div>
          </label>

          <label class="custom-control custom-checkbox">
            <input type="checkbox" checked="" class="custom-control-input">
            <div class="custom-control-label">Not good</div>
          </label>
        </div>
      </div>
    </article>
  </div>
</output> -->