<p-accordion>
  <p-accordionTab header="Filter By Categories" [selected]="true">
    <form class="mb-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" (keyup)="search($event)"
          [ngModelOptions]="{standalone: true}">
        <div class="input-group-append">
          <button class="btn btn-bg" type="button"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </form>
    <ul class="list-group " *ngFor="let cat of catagoryList;let i=index">
      <li class="list-group-item border-0 d-flex justify-content-between align-items-center" (click)="isSelected(cat)">
        {{cat}}
        <span class="badge btn-bg rounded-pill" *ngIf="cat=='All Products'">{{productList.length}}</span>
        <span class="badge btn-bg rounded-pill">{{countCategory[cat]}}</span>
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="Filter By Price" [selected]="true">
    <input type="range" class="form-range" [(ngModel)]="priceRange" [value]="priceRange" [min]="inputMin"
      [max]="inputMax" (change)="onRangeChange($event)">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Min</label>
        <input class="form-control" min="0" placeholder="$0" type="number">
      </div>
      <div class="form-group text-right col-md-6">
        <label>Max</label>
        <input class="form-control" min="0" value={{priceRange}} placeholder="$1,0000" type="number">
      </div>
    </div>

    <div class="col-12 mt-2">
      <button class="btn btn-bg d-block w-100">Apply</button>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Filter By Size" [selected]="true">
    <label class="checkbox-btn">
      <input type="checkbox">
      <span class="btn btn-light"> XS </span>
    </label>

    <label class="checkbox-btn">
      <input type="checkbox">
      <span class="btn btn-light"> SM </span>
    </label>

    <label class="checkbox-btn">
      <input type="checkbox">
      <span class="btn btn-light"> LG </span>
    </label>

    <label class="checkbox-btn">
      <input type="checkbox">
      <span class="btn btn-light"> XXL </span>
    </label>
  </p-accordionTab>
</p-accordion>