$color: #8912fc;
$text-color: #ffffff;
.btn-bg {
  background: $color;
  color: $text-color;
}
.btn-color {
  color: $color;
}
.btn-bg:hover {
  color: $text-color;
}

a {
  text-decoration: none;
}
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: $color !important;
  color: $text-color;
}
.star-rating {
  color: #fea569;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-check:active+.btn-outline-secondary:focus, .btn-check:checked+.btn-outline-secondary:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus, .btn-outline-secondary:active:focus{
  outline: none;
  box-shadow: none;
}

.form-control:focus,.form-select:focus  {
  border-color: $color;
  outline: none;
  box-shadow: none;
}
.btn-check:active+.btn-outline-secondary, .btn-check:checked+.btn-outline-secondary, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show, .btn-outline-secondary:active {
  color: #fff;
  background-color: $color;
  border-color: $color;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: $color;
  border-color: $color;
}
.btn-outline-secondary {
  color: $color;
  border-color: $color;
}