<ng-container *ngIf="productList && productList.length>0">
    <article class="card card-product-list"
        *ngFor="let item of productList | paginate: { itemsPerPage: 5, currentPage: p }">
        <div class="row no-gutters">
            <aside class="col-md-3 p-2">
                <a href="#" class="img-wrap">

                    <img class="img-fluid card-img-top" src={{item.image}} alt={{item.title}}>
                </a>
            </aside>
            <div class="col-md-6">
                <div class="info-main">
                    <a href="#" class="h5 title"> {{item.title}} </a>
                    <div class="rating-wrap mb-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <i class="bi bi-star-fill star-rating"></i>
                                <i class="bi bi-star-fill star-rating"></i>
                                <i class="bi bi-star-fill star-rating"></i>
                                <i class="bi bi-star-fill star-rating"></i>
                                <i class="bi bi-star-half star-rating"></i>
                            </li>
                        </ul>
                        <div class="label-rating">7/10</div>
                    </div>

                    <p class="crop-text-2"> {{item.description}} </p>
                </div>
            </div>
            <aside class="col-sm-3">
                <div class="info-aside">
                    <div class="price-wrap">
                        <span class="price h5"> {{item.price | currency}} </span>
                        <del class="price-old"> $198</del>
                    </div>
                    <p class="text-success">Free shipping</p>
                    <br>
                    <p>
                        <button class="btn btn-primary w-100 mb-2" (click)='addToCart(item.id)'> Add to Cart </button>
                        <button href="#" class="btn btn-light w-100"><i class="bi bi-suit-heart-fill"></i>
                            <span class="text">Add to wishlist</span>
                        </button>
                    </p>
                </div>
            </aside>
        </div>

    </article>
    
</ng-container>
<div class="col-md-5 mx-auto my-4">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>