<article class="card card-product-list">
    <div class="row no-gutters">
      <aside class="col-md-3 p-2">
        <a href="#" class="img-wrap">
         
          <img class="img-fluid card-img-top"
            src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg">
        </a>
      </aside> 
      <div class="col-md-6">
        <div class="info-main">
          <a href="#" class="h5 title"> Great product name goes here </a>
          <div class="rating-wrap mb-3">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active">
                <i class="bi bi-star-fill star-rating"></i>
                <i class="bi bi-star-fill star-rating"></i>
                <i class="bi bi-star-fill star-rating"></i>
                <i class="bi bi-star-fill star-rating"></i>
                <i class="bi bi-star-half star-rating"></i>
              </li>
            </ul>
            <div class="label-rating">7/10</div>
          </div> 

          <p> Take it as demo specs, ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, Ut wisi enim ad minim veniam </p>
        </div> 
      </div> 
      <aside class="col-sm-3">
        <div class="info-aside">
          <div class="price-wrap">
            <span class="price h5"> $140 </span>
            <del class="price-old"> $198</del>
          </div> 
          <p class="text-success">Free shipping</p>
          <br>
          <p>
            <a href="#" class="btn btn-primary w-100 mb-2"> Details </a>
            <a href="#" class="btn btn-light w-100"><i class="bi bi-suit-heart-fill"></i>
              <span class="text">Add to wishlist</span>
            </a>
          </p>
        </div> 
      </aside> 
    </div> 
  </article>