<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#" class="icon-back-top btn-color"><i class="bi bi-arrow-up-square-fill "></i></a>
        </p>
        <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0 ">New to Bootstrap? <a href="/" class="btn-color">Visit the homepage</a> or read our <a
                href="/docs/5.0/getting-started/introduction/" class="btn-color">getting started guide</a>.</p>
    </div>
</footer>