<div class="row py-5">
    <div class="col-md-8 col-sm-12 col-12">
        <div class="card-banner overlay-gradient"
            style="min-height:230px; background-image: url('../../../assets/58.png');">
            <div class="card-img-overlay white">
                <h3 class="card-title">Best Selling Bonza <br></h3>
                <p class="card-text" style="max-width: 400px">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod
                    tempor incididunt.</p>
                <a href="" class="btn btn-warning">Buy Now</a>
            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="card-banner overlay-gradient"
            style="min-height:230px; background-image: url('../../../assets/17.png');">
            <div class="card-img-overlay text-white">
                <h5 class="card-title">Best products</h5>
                <p class="card-text">No matter how far along you are in your sophistication as an amateur astronomer,
                    there is always one.</p>
            </div>
        </div>

    </div>
</div>

<div class="row mb-5">
    <div class="col-lg-4 col-md-6">

        <div class="shadow-sm card-banner">
            <div class="p-4 img-width">
                <h5 class="card-title">iPad Pro</h5>
                <p>Some quick example text to build on the card title and make up the bulk.</p>
            </div>
            <img src="../../../assets/banner-item1.jpg" class="img-bg img-height">
        </div>

    </div>
    <div class="col-lg-4 col-md-6">

        <div class="shadow-sm card-banner">
            <div class="p-4 img-width">
                <h5 class="card-title">Smart Watch</h5>
                <p>Some quick example text to build on the card title and make up the bulk.</p>
            </div>
            <img src="../../../assets/banner-item2.jpg" class="img-bg img-height">
        </div>

    </div>
    <div class="col-lg-4 col-md-6">

        <div class="shadow-sm card-banner">
            <div class="p-4 img-width">
                <h5 class="card-title">Great drones</h5>
                <p>Some quick example text to build on the card title and make up the bulk.</p>

            </div>
            <img src="../../../assets/banner-item3.jpg" class="img-bg img-height">
        </div>

    </div>
</div>